:root{
    --bg-primary:#e5ecff;
    --light-purple: rgba(36, 79, 195, 0.2);
    --medium-purple:#7166ff;
    --text-primary:#555555;
    --text-secondary: #524f73;
    --text-tertiary: #333;
    --text-link: #dbd9ff; 
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: var(--bg-primary);
}

button{
    border: none;
    background-color: transparent;
}

a{
    text-decoration: none;
}